html, body {
    margin: 0;
    padding: 0;
	height: 100%;
	width: 100%;
}

.container {
	display: flex;
	height: 100vh;
	width: 100%;
}


.left-section, .right-section {
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.left-lower, .left-upper {
	width: 100%;
	height: 50%;
	display: flex;
}


.centre-section {
	width: 60%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.upper-centre
{
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
}

.middle-centre
{
	display: flex;
	flex-grow: 1;
	min-height: 0;
}

button
{
	background-color: gray;
	border-radius: 10%;
	height: 32px;
	width: 32px;
}
