@use "./colors.scss";
@use "./borders.scss";
@use "./buttons.scss";

input[type="text"] 
{
	color: colors.$text-color;  
	background-color: colors.$back-ground-color; 
	border-radius: borders.$standard-border-radius;
	padding: borders.$standard-padding;
	
	/* Focus State */
	outline: none;                /* Remove default focus outline */
	flex-grow: 1;
	flex-shrink: 1;
	
}
  
  input[type="text"]:hover {
	border-color: #666666;        /* Lighter gray on hover */
  }
  
  input[type="text"]::placeholder {
	color: #aaaaaa;               /* Light gray placeholder */
	opacity: 1;                   /* Ensure visibility */
	
  }

  input[type="color"]
  {
	flex-shrink: 0;
	margin: 0;
	padding: 0;
	border-radius: 999px;
	width: buttons.$button-size;
	height: buttons.$button-size;

  }


