
@use "./borders.scss";
@use "./colors.scss";

.control-pane
{
	display: flex;
	flex-shrink: 0;
	overflow-x: auto;
}

.canvas-pane
{
	flex-grow: 1;
	min-height: 0;
	@include borders.custom-border(colors.$base-hue);
}

.picker-pane
{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-height: 0;
}

.editor-pane
{
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	@include borders.custom-border-complete();
	overflow-y: auto;
	overflow-x: auto;
}

.preview-pane
{
	flex-grow: 1;
	min-height: 0;
	@include borders.custom-border(colors.$base-hue);
}