
@use "./colors.scss";
@use "./borders.scss";
@use "./buttons.scss";
@use "./sections.scss";
@use "./controls.scss";
@use "./panes.scss";
@use "./tile-editor.scss";
@use "./tile-picker.scss";
@use "./textinput.scss";






html, body 
{
    margin: 0;
    padding: 0;
	height: 100%;
	width: 100%;
	font-family: monospace;
	font-size:medium;
	background-color: colors.$back-ground-color;
	color: colors.$text-color
}









.left-lower, .left-upper {
	width: 100%;
	height: 50%;
	display: flex;
}




.upper-centre
{
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
}
.left-pane
{
	display: flex;
	flex-direction: row;
}
.right-pane
{
	display: flex;
	flex-direction: row;
	flex-direction: row-reverse;
	flex-grow: 1;
}



.lower-centre
{
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
}



