
@use "./borders.scss";
@use "./colors.scss";

.tile-picker-static
{
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	flex-shrink: 0;
	@include borders.custom-border-complete();
}

.tile-picker-dynamic
{
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	@include borders.custom-border-complete();
}

.tile-picker-search-result
{
	display: flex;
	flex-direction: row;
}