
@use "./borders.scss";
@use "./colors.scss";

.tile-picker-static
{
	display: flex;
	flex-direction: row;
	@include borders.custom-border-complete();
}

.tile-picker-dynamic
{
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	@include borders.custom-border-complete();
}

.tile-picker-search-result
{
	display: flex;
	flex-direction: row;
	margin-top: borders.$standard-margin;
	margin-bottom: borders.$standard-margin;
}